/* CSS Document */
html {
  background-color: #fff;
  font-size: 100%;
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo sans-serif;
  color: #432;
  line-height: 1.7;
  letter-spacing: 0.05em;
  word-break: break-all;
}
a {
  color: #1ca9e3;
  text-decoration: none;
}
a,
a img {
  -webkit-transition: all .3s;
  transition: all .3s;
}
a:hover,
a:hover img {
  opacity: 0.7;
}
img,
video,
object {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
}
ul,
li {
  list-style: none;
}

/*--------------------------------
   全体
---------------------------------*/
.inner {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 4%;
}

/*--------------------------------
 ヘッダー
---------------------------------*/
#header {
  background-image: url(../images/bg4.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  height: 100vh;
}

/*--------------------------------
 グローバルナビ
---------------------------------*/
#gnav {
  padding-top: 34px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
#gnav ul {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
#gnav li a {
  display: block;
  padding: 15px 0;
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  color: #fff;
  letter-spacing: 0.1em;
}
#header .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  max-width: 600px;
}
@media screen and (max-width: 768px) {
  #gnav ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
  #gnav li a {
    font-size: 1.250rem;
    padding: 5px 15px;
  }
}

/*--------------------------------
 Section
---------------------------------*/
.section {
  padding-top: 110px;
}
.section .section-title {
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: .1em;
  font-size: 2.25rem;
  line-height: 1;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .section {
    padding-top: 80px;
  }
  .section .section-title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}
/*--------------------------------
latest
---------------------------------*/
#latest .latest-wrapper {
  padding: 20px 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
#latest .latest-image {
  width: 48%;
}

#latest .latest-des {
  width: 48%;
}
#latest h3 {
  font-size: 0.938rem;
}
#latest .latest-site-title,
#latest .latest-responsible,
#latest .latest-period,
#latest .latest-comment {
  margin-bottom: 20px;
}
#latest .latest-comment p {
  text-align: justify;
}
@media screen and (max-width: 767px) {
  #latest .latest-wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #latest .latest-image {
    width: 100%;
    padding-bottom: 20px;
  }
  #latest .latest-des {
    width: 100%;
  }
}
/*--------------------------------
 works
---------------------------------*/
#works .works-wrapper {
  padding: 20px 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
#works figure {
  width: 30%;
  margin-bottom: 50px;
}
#works figcaption {
  margin-top: 15px;
}
#works .caption-title {
  font-size: 0.875rem;
  font-weight: bold;
}
#works .caption-info {
  margin-top: 5px;
  font-size: 0.813rem;
}
#works .caption-url {
  margin-top: 5px;
  font-size: 0.813rem;
}
@media screen and (max-width: 559px) {
  #works figure {
    width: 48%;
  }
  #works .caption-title {
    font-size: 0.813rem;
  }
}
/*--------------------------------
 about
---------------------------------*/
#about .about-wrapper {
  padding: 20px 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
}
#about .about-image {
  width: 38%;
}
#about .about-image img {
  display: block;
  margin: 0 auto;
}
#about .about-des {
  width: 55%;
}
#about p {
  margin-bottom: 20px;
}
@media screen and (max-width: 559px) {
  #about .about-wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #about .about-image {
    width: 100%;
    margin: 0 auto 20px;
  }
  #about .about-des {
    width: 100%;
  }
}
/*--------------------------------
 skill
---------------------------------*/
#skill .skill-wrapper {
  padding: 20px 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
#skill .skill-card {
  width: 46%;
  margin-bottom: 50px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
#skill .skill-icon {
  width: 75px;
}
#skill .skill-icon img {
  width: 75px;
  height: 75px;
}
#skill .skill-des {
  width: calc(100% - 75px - 30px);
}
#skill .skill-des-title {
  margin-bottom: 3px;
}
#skill .rate {
  font-size: 16px;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 20px;
  letter-spacing: .3em;
}
#skill .rate::before,
#skill .rate::after {
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 20px;
  content: "★★★★★";
}
#skill .rate::before {
  color: #ddd;
}
#skill .rate::after {
  overflow: hidden;
  white-space: nowrap;
  color: #0bd;
}
#skill .rate1::after {
  width: 20px;
}
#skill .rate2::after {
  width: 40px;
}
#skill .rate3::after {
  width: 60px;
}
#skill .rate4::after {
  width: 80px;
}
#skill .rate5::after {
  width: 100px;
}
@media screen and (max-width: 559px) {
  #skill .skill-wrapper {
    width: 100%;
  }
  #skill .skill-card {
    width: 100%;
  }
  #skill .skill-icon {
    width: 45px;
    height: 45px;
  }
  #skill .skill-icon img {
    width: 45px;
    height: 45px;
  }
  #skill .skill-des {
    width: calc(100% - 45px - 20px);
  }
  #skill .rate {
    height: 15px;
    font-size: 15px;
  }
  #skill .rate::before,
  #skill .rate::after {
    height: 15px;
    line-height: 15px;
  }
  #skill .rate1::after {
    width: 15px;
  }
  #skill .rate2::after {
    width: 35px;
  }
  #skill .rate3::after {
    width: 55px;
  }
  #skill .rate4::after {
    width: 75px;
  }
  #skill .rate5::after {
    width: 95px;
  }
}
/*--------------------------------
 contact
---------------------------------*/
#contact {
  text-align: center;
}
#contact img {
  width: 64px;
}
#contact .contact-des {
  margin-top: 10px;
  display: block;
  font-size: 0.750rem;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  #contact .contact-wrapper {
    margin-top: 20px;
    width: 100%;
  }
  #contact .contact-wrapper img {
    width: 50px;
  }
}
/*--------------------------------
 Footer
---------------------------------*/
#footer {
  background-color: #432;
  margin-top: 80px;
}
#footer .inner {
  padding: 30px;
}
#footer .copyright {
  font-size: 0.688rem;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 767px) {
  #footer {
    margin-top: 40px;
  }
  #footer .inner {
    padding: 20px 0;
  }
}
